html {
  scroll-behavior: smooth;
}

* {
  cursor: none !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a38; /* Dark greyish-purple background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a3b82;
  border-radius: 10px;
}
